<div class="card">
  <div class="card-header">
    <h5 class="modal-title">Control De Centro De Costo</h5>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal_cc"
      data-whatever="@mdo"><i class="fa fa-plus"></i> Agregar centro de costo</button>
    <div class="modal fade" id="modal_cc" tabindex="-1" role="dialog" aria-labelledby="modal_cc" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_cc">Agregar centro de costo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="guardar()" #datos="ngForm">
              <div class="form-group row">

                <label class="col-4 col-form-label">Encargado</label>
                <div class="col-8">
                  <input type="text" style="width: 300px" list="productList" required [(ngModel)]="encargado"
                    name="encargado" placeholder="Encargado" />
                  <datalist id="productList">
                    <select>
                      <option *ngFor="let product of trabajador">{{product.nombre}} {{product.apellidop}}
                        {{product.apellidom}}</option>
                    </select>
                  </datalist>
                </div>
              </div>
              <div class="form-group row">

                <label class="col-4 col-form-label">Descripción</label>
                <div class="col-8">
                  <input class="form-control" type="text" name="descripcion" [(ngModel)]="descripcion" minlength="5"
                    required placeholder="Descripción">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                  <button type="submit" style="margin-left: 250px" [disabled]="!datos.valid"
                    class="btn btn-outline-primary">
                    Guardar
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal_ccc" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_ccc">Editar centro de costo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="editar()" #datos="ngForm">
            <div class="form-group row">
              <label class="col-4 col-form-label">Encargado</label>
              <div class="col-8">
                <input type="text" list="productList" style="width: 300px" required [(ngModel)]="encargadoE"
                  name="encargadoE" placeholder="Encargado" />
                <datalist id="productList">
                  <select>
                    <option *ngFor="let product of trabajador">{{product.nombre}} {{product.apellidop}}
                      {{product.apellidom}}</option>
                  </select>
                </datalist>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Descripción</label>
              <div class="col-8">
                <input class="form-control" type="text" name="descripcionE" [(ngModel)]="descripcionE" minlength="5"
                  required placeholder="Descripción">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button type="submit" [disabled]="!datos.valid" class="btn btn-outline-primary">
                  Guardar
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <section class="no-padding-top">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let item of tabla " class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3 class="h4">{{item.CentroCosto}}.{{item.descripcion}} </h3>
              <button type="button" class="btn btn-danger float-right" style="margin-left: 10px"
                (click)="pageRefresh(item.CentroCosto , item.descripcion)">
                <i class="far fa-trash-alt"></i>
              </button>
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal"
                data-whatever="@mdo" (click)="editarCentro(item.CentroCosto)">
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <div class="card-body table table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Rut</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Cargo</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item2 of item.trabajadores">
                  <tr>
                    <th scope="row">{{item2.rut}}-{{item2.digito}}</th>
                    <td>{{item2.nombre}}</td>
                    <td>{{item2.apellidoPaterno}}</td>
                    <td>{{item2.apellidoMaterno}}</td>
                    <td>{{item2.cargo}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>