/* You can add global styles to this file, and also import other style files */
nav a.active{
    color: #039be5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
