<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Reporte de Asistencia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Reporte Asistencia</ion-card-title>
            <ion-card-subtitle>Febrero</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item color="secondary">
                    <ion-label>Día 01</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 02</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 03</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 04</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 05</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 06</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 07</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 08</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 09</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 10</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 11</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 12</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 13</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 14</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 15</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 16</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 17</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 18</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 19</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 20</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 21</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 22</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 23</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 24</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 25</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 26</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 27</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Día 28</ion-label>
                    <ion-label>Horas : 09</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 29</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 30</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label>Día 31</ion-label>
                    <ion-label>Horas : 00</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>