.diaHabil .item-content {
    background-color: green !important;
}

.diaInhabil .item-content {
    background-color: red !important;
}

.diaNoActivo .item-content {
    background-color: white !important;
}