<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio Trabajador</ion-title>
    </ion-toolbar>
</ion-header>
 
<ion-content >
    <ion-card mode="ios">
           <ion-avatar class="image"><img (click)="camara()" src="{{ image || 'assets/img/avatar.png' }}" ></ion-avatar> 
        <ion-card-header > 
                <ion-card-title>
                        <ion-item *ngFor="let informacion of info">
                                <ion-label>
                                        <h3>Trabajador: {{informacion.nombre}} {{informacion.apellidop}}</h3>
                                        
                                </ion-label>                
                        </ion-item>
                </ion-card-title>
            <ion-card-subtitle>
                <ion-item *ngFor="let informacion of info">
                        <ion-label>
                                Cargo: {{informacion.cargo}}
                        </ion-label>               
                </ion-item>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
                <ion-item *ngFor="let informacion of info">
                        <ion-label>RUN: {{informacion.rut}} {{informacion.dijito}}</ion-label>  
                </ion-item>
                  
            <br> Tiempo en Turno 05:27:34
            <ion-card-subtitle>Empresa</ion-card-subtitle>
            <ion-button (click)="qrModal()" color="primary" size="small">
                    Ingresar Turno
                </ion-button>
                <ion-button *ngIf="activoTurno"  (click)="FingerprintAIO()" color="danger" size="small">
                    Terminar Turno
                </ion-button>
        </ion-card-content>
    </ion-card>  

</ion-content>