.login-row {
    height: 100%;
}
.lock-col {
    height: 100%;
}
.lock-bg {
    width: 2px;
    height: 100%;
    background: #cecece;
    margin-left: 50%
}
.lock-img {
    position: absolute
}
.image {
    width: 100px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -50px;
}

ion-card {

    width: 90%;
    margin-top: 70px;
}
ion-card {
    overflow: unset !important;
}

ion-avatar {
    width: 100px;
    height: 100px;
    text-align: center;

}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}
.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}