<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pantalla Principal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Trabajador</ion-card-title>
            <ion-card-subtitle>Cargo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-img [src]="'assets/img/logo.png'"></ion-img>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Alertas</ion-card-title>
            <ion-card-subtitle>Activar alertas de asistencia</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-button expand="block" (click)="repeatingDaily()">Comprobar Asistencia</ion-button>
            </ion-item>
            <ion-item>
                <ion-list>
                    <ion-item *ngFor="let n of schedule">
                        <ion-label text-wrap>
                            {{ n.id }} - {{ n.title }}
                            <p>Trigger: {{ n.trigger | json }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>