<ion-header>
    <ion-toolbar>
      <ion-title>Incentivos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Cupones de Descuento</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label>Cupones que seran canjebales en distintas sucursales asociadas a la empresa</ion-label>
            <br>
            <ion-label>Obtencion: 90% de asistencia</ion-label>
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <ion-card-title>Aumento de vacaciones</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label>Se dara un aumento en los dias vacacionales en base a la productividad del empleado</ion-label>
            <br>
            <ion-label>Obtencion: 95% de asistencia y no haber obtenido alguna carta de amonestacion en 3 meses</ion-label>
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <ion-card-title>Bono Sopresa</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label>Se dara un numero a cada chofer participante, luego se hara un rifa dando como premio un bono en efectivo</ion-label>
            <br>
            <ion-label>Obtencion: 85% de asistencia</ion-label>
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-button (click)="dismiss()">Volver</ion-button>
      </ion-card>

  </ion-content>