<div class="card">
  <div class="card-header">
    <h3 class="h4">Calculo de Vacaciones</h3>
    <select #producto (change)="filtro(producto.value)">
      <option>
        todos</option>
      <option #producto *ngFor="let product of centrocostos">
        {{product.descripcion}}</option>
    </select>
  </div>
  <div class="card-body table-responsive">
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal_alerta"
      data-whatever="@mdo"><i class="fa fa-plus"></i> Agregar Vacaciones</button>
    <div class="modal fade" id="modal_alerta" tabindex="-1" role="dialog" aria-labelledby="modal_alerta"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal_alerta">Enviar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form (submit)="agregarVacaciones(tomar)" #tomar="ngForm">
            <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">RUT del trabajador:</label>
              </div>
              <div class="form-group">
                <input type="text" name="rut" [(ngModel)]="vacacio.rut" minlength="7" maxlength="8" required class="form-group col-5" id="name-trabajador">
                <label for="recipient-name" class="form-group col-1"> - </label>
                <input type="text" name="digito" [(ngModel)]="vacacio.digito" minlength="1" maxlength="1" required  class="form-group col-2" id="name-trabajador">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Fecha Inicio</label>
              </div>
              <div class="form-group">
                <input type="date" name="fechaInicio" [(ngModel)]="vacacio.fechaInicio" required>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Fecha Termino</label>
              </div>
              <div class="form-group">
                <input type="date" name="fechafinal" [(ngModel)]="vacacio.fechaFinal" required>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i>
                  Cerrar</button>
                <button type="submit" [disabled]="tomar.invalid" class="btn btn-primary"><i class="fa fa-plus"></i> Enviar</button>
              </div>
          </form>

          </div>
        
      </div>
    </div>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Fecha Inicio</th>
          <th>Dias Disponibles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of trabajadoresFiltro">
          <th scope="row">{{item.rut}}-{{item.digito}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.apellidop}}</td>
          <td>{{item.apellidom}}</td>
          <td>{{item.fechaingreso}}</td>
          <td>{{item.vacaiones-item.vacacionesTomadas}}</td>
        </tr>
      </tbody>
    </table>
  </div>
