<div class="card">
    <div class="card-header">
        <h3 class="h4">Listado de Finiquitos</h3>
        <select #producto (change)="c(producto.value)">
            <option  >
                todos</option>   
            <option #producto  *ngFor="let product of centrocostos" >
              {{product.descripcion}}</option>      
         </select>
    </div>
    <div class="card-body text-center table-responsive">
    <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Vacaciones Pendientes</th>
                            <th>Promedio utlimos 6 meses</th>
                            <th>Años de servicio</th>
                            <th>Mes de Aviso  <input type="checkbox" id="#checkbox" [(ngModel)]="on"  name="on" #valor (change)="centroCotos()" required></th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of trabajadoresFiltro">
                            <th scope="row">{{item.nombre}}</th>
                            <td>{{item.nombre}}</td>
                            <td>{{item.apellidop}}</td>
                            <td>{{item.vacaiones}} dias</td>
                            <td >{{item.indemnizacion}}</td>
                            <td >{{item.tiempo}}</td> 
                            <td>{{item.sueldo}} </td>
                            <td >{{item.undefined}}</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                            <td><h3>Total</h3> </td>
                            <td>{{totalTabla}}</td>
                        </tr>
            </table>
      </div>
</div>