<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Centros De Costo</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Centro de Costo 1</ion-card-title>
            <ion-card-subtitle>Descripción Centro de Costo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label text-wrap>Área 1 asociada a Centro de Costo 1</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 2 asociada a Centro de Costo 1</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 3 asociada a Centro de Costo 1</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 4 asociada a Centro de Costo 1</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Lista de Supervisores</ion-card-title>
            <ion-card-subtitle>Supervisores C.C.1</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4">Rut</ion-col>
                    <ion-col size="4">Nombre</ion-col>
                    <ion-col size="4">Area</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">1-9</ion-col>
                    <ion-col size="4" >Supervisor 1</ion-col>
                    <ion-col size="4">Area 1</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2-7</ion-col>
                    <ion-col size="4">Supervisor 2</ion-col>
                    <ion-col size="4">Area 2</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">3-5</ion-col>
                    <ion-col size="4">Supervisor 3</ion-col>
                    <ion-col size="4">Area 3</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Lista de trabajadores</ion-card-title>
            <ion-card-subtitle>Trabajadores C.C.1</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4">Rut</ion-col>
                    <ion-col size="4">Nombre</ion-col>
                    <ion-col size="4">Area</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">1-9</ion-col>
                    <ion-col size="4">Trabajador 1</ion-col>
                    <ion-col size="4">Area 1</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2-7</ion-col>
                    <ion-col size="4">Trabajador 2</ion-col>
                    <ion-col size="4">Area 2</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">3-5</ion-col>
                    <ion-col size="4">Trabajdaor 3</ion-col>
                    <ion-col size="4">Area 3</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Centro de Costo 2</ion-card-title>
            <ion-card-subtitle>Descripción Centro de Costo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label text-wrap>Área 1 asociada a Centro de Costo 2</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 2 asociada a Centro de Costo 2</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 3 asociada a Centro de Costo 2</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Área 4 asociada a Centro de Costo 2</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>