<ion-header>
  <ion-toolbar>
    <ion-title>Crear Incentivo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Rellene los campos:</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Nombre del incentivo:</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Descripcion:</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Reglas:</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-card-content>
        <ion-item>
            <ion-button (click)="dismiss()">Cancelar</ion-button>
            <ion-button (click)="dismiss()">Crear</ion-button>
        </ion-item>

      </ion-card>
</ion-content>