<div class="card">
    <div class="card-header">
        <h3 class="h4">Control de Feriados y Dias No Laborales</h3>
    </div>
    <button type="button" class="btn btn-primary" onclick="myFunction()">Generar Calendario</button>
    <div class="card-body text-center">
      <div id="calendar" class="calendar"></div>
      <div class="modal" id="event-modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="padding-right:55%">
                        Agregar dia(s) no laboral(es)
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <form class="form-group">
                        <div class="form-group">
                            <label for="min-date" class="col-form-label float-left">Nombre:</label>
                            <div class="col-sm-max">
                                <input name="event-name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="min-date" class="col-form-label float-left">Motivo:</label>
                            <div class="col-sm-max">
                                <input name="event-motivo" type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <select class="form-control">
                                <option disabled selected>Escoja tipo de dia no laboral</option>
                                <option>Dia completo no laboral</option>
                                <option>Medio dia no laboral</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</button>
                    <button type="button" class="btn btn-primary" id="save-event"><i class="fa fa-plus"></i> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
