<div class="card">
  <div class="card-header">
    <h3 class="h4">Empresa Información</h3>
  </div>
  <div class="card-body  table-responsive">
    <form (submit)="guardarEmpresa(company)" #company="ngForm">
      <div class="form-row">
        <div class="form-group col-md-5">
          <label>RUT</label>
          <input type="text" minlength=7 maxlength=8 name="rut" [(ngModel)]="empresa.rut" required class="form-control">
        </div>

        <div class="form-group col-md-1">
          <label>N°</label>
          <input type="text" minlength="1" maxlength="1" required name="digito" [(ngModel)]="empresa.digito"
            class="form-control">
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label>Nombre Empresa</label>
          <input type="text" minlength="3" required name="nombre" [(ngModel)]="empresa.nombre" class="form-control">

        </div>
      </div>

      <div class="form-row">
        <div class="form-group ol-md-4">
          <label>Logo</label>
          <input type="file" class="form-control">
        </div>
        <div class="form-group ol-md-3">
          <label>Color 1</label>
          <input type="color" name="color" required [(ngModel)]="empresa.color1" class="form-control">
        </div>
        <div class="form-group ol-md-3">
          <label>Color 2</label>
          <input type="color" name="color2" [(ngModel)]="empresa.color2" class="form-control" required>
        </div>
      </div>

      <button type="submit" [disabled]="company.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>



<div class="card">
  <div class="card-header">
    <h3 class="h4">Empresa Cargos</h3>
  </div>
  <div class="card-body  table-responsive">
    <form (submit)="guardarCargo(cargoE)" #cargoE="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Cargo</label>
          <input type="text" name="cargo" required minlength="5" [(ngModel)]="descripcion" class="form-control">
        </div>
      </div>
      <button type="submit" [disabled]="cargoE.invalid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>