<div class="card">
  <div class="card-header">
          <h3 class="h4">Turnos</h3>  
  </div>
  <div class="card-body">
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal_turno" data-whatever="@mdo"><i class="fa fa-plus"></i> Agregar turno</button>
      <div class="modal fade" id="modal_turno" tabindex="-1" role="dialog" aria-labelledby="modal_turno" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal_turno">Agregar turno</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                      <select class="form-control" id="hora-turno">
                              <option disabled selected>Turno</option>
                              <option>Turno Dia</option>
                              <option>Turno Tarde</option>
                              <option>Turno Noche</option>
                      </select>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Inicio Turno:</label>
                        <input type="date" name="bInicio" min="1000-01-01"
                              max="3000-12-31" class="form-control" id="inicio-turno">
                      </div>
                      <div class="form-group">
                              <label for="message-text" class="col-form-label">Termino Turno:</label>
                              <input type="date" name="bTermino" min="1000-01-01"
                                    max="3000-12-31" class="form-control" id="termino-turno">
                            </div>
                      <div class="form-group">
                              <label for="message-text" class="col-form-label">Horario:</label>
                              <input type="text" id="horario-turno" value="10:30 - 18:30" data-format="hh:mm A">
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cerrar</button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
                  </div>
                </div>
              </div>
          </div>  
          <br>
          <br>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>Turno</th>
              <th>Inicio de turno</th>
              <th>Termino de turno</th>
              <th>Horarios</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">Dia</th>
              <td>Lunes</td>
              <td>Viernes</td>
              <td>08:00 - 16:00</td>
          </tr>
          <tr>
              <th scope="row">Tarde</th>
              <td>Lunes</td>
              <td>Sabado</td>
              <td>16:00 - 00:00</td>
          </tr>
          <tr>
              <th scope="row">Noche</th>
              <td>Lunes</td>
              <td>Sabado</td>
              <td>00:00 - 8:00</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>