<ion-header>
  <ion-toolbar>
    <ion-title>Justificativos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Rellene los campos:</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Nombre del trabajador:</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Cargo del trabajador:</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de inicio </ion-label>
                <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Final del justificativo</ion-label>
                <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
            </ion-item>
        </ion-card-content>
        <ion-item>
            <ion-button (click)="dismiss()">Cancelar</ion-button>
            <ion-button (click)="dismiss()">Ingresar</ion-button>
        </ion-item>

      </ion-card>
</ion-content>