<ion-header>
  <ion-toolbar (click)="cerrarModal()">
    <ion-title>QRmodal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card  *ngIf="createdcode"> 
        <ion-card-content>
                <ngx-qrcode qrc-element-type="url" [(qrc-value)]="createdcode" ></ngx-qrcode>
            <p>{{createdcode}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
