<div class="card">
    <div class="card-header">
        <h3 class="h4">{{Nombre_Empresa}}</h3>
    </div>
    <div class="card-body">
        <p>Sesion Iniciada:</p>
        <div class="table-responsive">
            Bienvenido
            <!--
                           <ul *ngIf="users">
                <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
            </ul> 
            -->

               
            <img src="../assets/img/logomin.png" alt="Logo Generico">
        </div>
    </div>
</div>