<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Listado de Trabajadores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Listado de Trabajadores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="3">Rut</ion-col>
                    <ion-col size="3">Nombre</ion-col>
                    <ion-col size="3">Cargo</ion-col>
                    <ion-col size="3">Turno</ion-col>
                </ion-row>
                <ion-item></ion-item>
                <ion-row>
                    <ion-col size="3">1-9</ion-col>
                    <ion-col size="3" >Trabajador 1</ion-col>
                    <ion-col size="3">Cargo 1</ion-col>
                    <ion-col size="3">Mañana</ion-col>
                <ion-item>
                    <ion-button (click)="openModal()">Info.Adicional</ion-button>
                </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col size="3">2-7</ion-col>
                    <ion-col size="3">Trabajador 2</ion-col>
                    <ion-col size="3">Cargo 2</ion-col>
                    <ion-col size="3">Tarde</ion-col>
                <ion-item>
                    <ion-button (click)="openModal()">Info.Adicional</ion-button>
                </ion-item>
                </ion-row>
                <ion-row>
                    <ion-col size="3">3-5</ion-col>
                    <ion-col size="3">Trabajador 3</ion-col>
                    <ion-col size="3">Cargo 3</ion-col>
                    <ion-col size="3">Noche</ion-col>
                <ion-item>
                    <ion-button (click)="openModal()">Info.Adicional</ion-button>
                </ion-item>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>