<div class="card">
  <div class="card-header">
      <h3 class="h4">Calculo de Indemnización</h3>
      <select #producto (change)="c(producto.value)">
        <option  >
            todos</option>   
        <option #producto  *ngFor="let product of centrocostos" >
          {{product.descripcion}}</option>      
     </select>
  </div>
  <div class="card-body text-center table-responsive">
          <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Rut</th>
                          <th>Nombre</th>
                          <th>Apellido Paterno</th>
                          <th>Apellido Materno</th>
                          <th>Años trabajados</th>
                          <th>Promedio utlimos 6 meses</th>
                          <th>Total indemnizacion</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of trabajadoresFiltro">
                          <th scope="row">{{item.rut}}-{{item.digito}}</th>
                          <td>{{item.nombre}}</td>
                          <td>{{item.apellidop}}</td>
                          <td>{{item.apellidom}}</td>
                          <td>{{item.tiempo}}</td>
                          <td>{{item.indemnizacion}}</td>
                          <td>{{item.indemnizacion}}</td>
                      </tr>
                  </tbody>
          </table>
  </div>
</div>