<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro de Incentivos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Control de Incentivos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-button (click)="openModal()">Crear incentivos</ion-button>
            </ion-item>
            <ion-item>
                <ion-button (click)="openModalAsig()">Asignar incentivos</ion-button>
            </ion-item>
            <ion-item>
                <ion-button (click)="openModalList()">Listado de incentivos</ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Registro de Incentivos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="2">Rut</ion-col>
                    <ion-col size="3">Nombre</ion-col>
                    <ion-col size="3">Cargo</ion-col>
                    <ion-col size="3">Incentivos</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">1-9</ion-col>
                    <ion-col size="3">Trabajador 1</ion-col>
                    <ion-col size="3">Cargo 1</ion-col>
                    <ion-col size="3">1</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">2-7</ion-col>
                    <ion-col size="3">Trabajador 2</ion-col>
                    <ion-col size="3">Cargo 2</ion-col>
                    <ion-col size="3">1 - 3</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="2">3-5</ion-col>
                    <ion-col size="3">Trabajador 3</ion-col>
                    <ion-col size="3">Cargo 3</ion-col>
                    <ion-col size="3">1 - 2 - 3</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>