<ion-header>
  <ion-toolbar>
    <ion-title>Vista Previa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>  
    <ion-card-content>
      <ion-label class="float-right">
        <b>[DIRECCION]</b>, <b>[DIA]</b> de <b>[MES]</b> de <b>[AÑO]</b>.
      </ion-label>
      <br>
      <ion-label>
        Señor/a <b>[NOMBRE]</b>
      </ion-label>
      <br>
      <ion-label>
        <b>[RUT]</b>
      </ion-label>
      <br>
      <ion-label>
        Presente.
      </ion-label>
      <br>
      <ion-label>
        <b>[AMONESTACION]</b>
      </ion-label>
      <br>
      <ion-label>
        De nuestra consideración:
      </ion-label>
      <br>
      <ion-label>
        Por medio de la presente y dando cumplimiento a la legislación vigente, la venimos en amonestar, por escrito, por el siguiente hecho en el desempeño en sus labores como <b>[CARGO]</b>.
      </ion-label>
      <ion-label>
        Hemos podido constatar que Ud., con fecha <b>[DIA]</b> de <b>[MES]</b> de <b>[AÑO]</b>, no ha respetado el <b>[NORMA]</b>, vigente en la <b>[INFRACCION]</b>, como lo exige el mencionado Protocolo. Ello tiene como consecuencia deficiencias en el registro de las atenciones realizadas a las personas y, por lo tanto, en su seguridad.
      </ion-label>
      <ion-label>
        Conductas de este tipo no serán admitidas nuevamente, pues ocasionan una afectación respecto de la imagen y espíritu de <b>[EMPRESA]</b>, así como de la fama y respeto de que goza <b>[NOMBRE]</b>.
        Esperando que rectifique su actuar y que hechos de esta naturaleza no vuelvan a ocurrir,
        Sin otro particular, saluda atentamente a Ud.
      </ion-label>
      <br>
      <ion-label>
        pp. ( )
      </ion-label>
      <br>
      <ion-label>     
        c.c. Carpeta Personal.
      </ion-label> 
      <br>
      <ion-label>
        c.c. Inspección del Trabajo.
      </ion-label>
    </ion-card-content>
    <ion-item>
      <ion-button (click)="dismiss()">Volver</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
