<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Reporte Asistencia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Reporte de Asistencia</ion-card-title>
            <ion-card-subtitle>Febrero</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="3">Rut</ion-col>
                    <ion-col size="3">Nombre</ion-col>
                    <ion-col size="3">% Asis.</ion-col>
                    <ion-col size="3">Total Hrs. Perdidas</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">1-9</ion-col>
                    <ion-col size="3">Trabajador 1</ion-col>
                    <ion-col style="color: green" size="3">100%</ion-col>
                    <ion-col size="3">0</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">2-7</ion-col>
                    <ion-col size="3">Trabajador 2</ion-col>
                    <ion-col style="color: red" size="3">80%</ion-col>
                    <ion-col size="3">15</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">3-5</ion-col>
                    <ion-col size="3">Trabajador 3</ion-col>
                    <ion-col style="color: yellow" size="3">90%</ion-col>
                    <ion-col size="3">7</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>