<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Horario Trabajador</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Horario de Trabajador</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item color="secondary">
                <ion-icon name="alarm" slot="start"></ion-icon>
                <ion-label>Ingreso </ion-label>
                <ion-label>08:00</ion-label>
            </ion-item>
            <ion-item color="danger">
                <ion-icon name="airplane" slot="start"></ion-icon>
                <ion-label>Salida </ion-label>
                <ion-label>16:00</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>