<ion-header>
  <ion-toolbar>
    <ion-title>Trabajador 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informacion Adicional:</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
          <ion-item>
            Nombre: Trabajador 1
          </ion-item>
          <ion-item>
            RUT: 1-9
          </ion-item>
          <ion-item>
            Domicilio: Cuidad 1
          </ion-item>
          <ion-item>
            Nº Area: 2
          </ion-item>
          <ion-item>
            Centro de Costo: 1
          </ion-item>
          <ion-item>
            Turno: 1
          </ion-item>
          <ion-item>
            Amoncestaciones: No
          </ion-item>
          <ion-item>
             Incentivos: 1 - 2 - 3
          </ion-item>
      </ion-card-content>
      <ion-item>
          <ion-button (click)="dismiss()">Volver</ion-button>
      </ion-item>
  </ion-card>
</ion-content>
