<div class="card">
  <div class="card-header">
    <h3 class="h4">Reporte de Asistencias (Mes)</h3>
  </div>
  <div class="card-body table-responsive col-12">
    <table class="table table-striped col-12">

      <thead>
        <td class=" bg-primary text-white">Nombre</td>
        <td *ngFor="let item of dias" class=" bg-primary text-white">{{item}}</td>
      </thead>
      <tbody>

        <tr *ngFor="let item of fecha">
          <td class=" bg-primary text-white">{{item.nombre}}</td>

          <td *ngFor="let c of item.dias" class="text-white" [style.background-color]="c">{{c||"N/A"}}</td>
          <td>

          </td>
        </tr>


      </tbody>
    </table>

  </div>

</div>