<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro Justificación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Dias Admin.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col>
                            <ion-row size-sm="2" text="center">
                                <ion-col>Nombre</ion-col>
                                <ion-col>Trabajador 1</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Cargo</ion-col>
                                <ion-col>Cargo 1</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Correspondidos</ion-col>
                                <ion-col>10</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Usados</ion-col>
                                <ion-col>3</ion-col>
                            </ion-row>
                            <ion-row size-sm="2" text="center">
                                <ion-col>Dias Disponibles</ion-col>
                                <ion-col>7</ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-item></ion-item>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col>
                            <ion-row size-sm="2">
                                <ion-col>Nombre</ion-col>
                                <ion-col>Trabajador 2</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Cargo</ion-col>
                                <ion-col>Cargo 2</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Correspondidos</ion-col>
                                <ion-col>7</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Usados</ion-col>
                                <ion-col>2</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Disponibles</ion-col>
                                <ion-col>5</ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-item></ion-item>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col>
                            <ion-row size-sm="2">
                                <ion-col>Nombre</ion-col>
                                <ion-col>Trabajador 3</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Cargo</ion-col>
                                <ion-col>Cargo 3</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Correspondidos</ion-col>
                                <ion-col>5</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Usados</ion-col>
                                <ion-col>3</ion-col>
                            </ion-row>
                            <ion-row size-sm="2">
                                <ion-col>Dias Disponibles</ion-col>
                                <ion-col>2</ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-content>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Registro de Justificaciones</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                    <ion-item>
                        <ion-button (click)="openModalJusti()">Ingresar Justificación</ion-button>
                    </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-content>