<div class="card">
  <div class="card-header">
  <h3 class="h4">Listado de Trabajadores</h3>

  <select #producto (change)="c(producto.value)">
      <option  >
          todos</option>   
      <option #producto  *ngFor="let product of centrocostos" >
        {{product.descripcion}}</option>      
   </select>
   <button type="button"
   class="btn btn-primary float-right"
    data-toggle="modal" 
    data-target="#modal_trabajador" 
    data-whatever="@mdo">
    <i class="fa fa-plus"></i> Ingresar Nuevo Trabajador</button>
  </div>
  <div class="card-body table-responsive" >



        <div class="modal fade" id="modal_trabajador" tabindex="-1" role="dialog" aria-labelledby="modal_trabajador" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modal_trabajador">Ingresar datos del trabajador</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                    </div>
                    <div class="modal-body ">
                        <form (submit)="guardar(forma1)" #forma1="ngForm"  >

                            <div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">RUT</label>
                                    <div class="col-6">
                               
                                      <input class="form-control"
                                             type="text"
                                             name="rut"
                                             minlength="7"
                                             maxlength="8"
                                             [(ngModel)]="trabajador.rut"
                                             required
                                             placeholder="17646190">
                                    </div>   

                                       <div class="col-2">                                  
                                          <input class="form-control"
                                                 type="text"
                                                 placeholder="Nª"
                                                 minlength="1"
                                                 maxlength="1"
                                                 (change)="rutC()"
                                                 required [(ngModel)]="trabajador.digito" name="digito">
                                        </div>        
                                                                       
                                  </div>
                              <div class="form-group row">
                                <label class="col-3 col-form-label">Nombre</label>
                                <div class="col-8">
                          
                                  <input class="form-control"
                                         type="text"
                                         placeholder="Nombre"
                                         required [(ngModel)]="trabajador.nombre" name="nombre">
                                         
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-3 col-form-label">Apellido Paterno</label>
                                <div class="col-8">
                          
                                  <input class="form-control"
                                         type="text"
                                         placeholder="Apellido"
                                         required [(ngModel)]="trabajador.apellidop" name="apellidop">
                                </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-3 col-form-label">Apellido Materno</label>
                                  <div class="col-8">
                            
                                    <input class="form-control"
                                           type="text"
                                           placeholder="Apellido"
                                           required [(ngModel)]="trabajador.apellidom" name="apellidom">
                                  </div>
                                </div>
                              <div class="form-group row">
                                  <label class="col-3 col-form-label">Centro Costo</label>
                                  <div class="col-8">
                                      <select class="form-control"  required [(ngModel)]="trabajador.cdc" name="cdc"
                                           >
                                      <option >Selecciones</option>
                                         <option required class="table-responsive"
                                         *ngFor="let item of centrocostos" >
                                             <p>{{ item.CentroCosto }} {{ item.descripcion }} </p>
                                         </option>
                                     </select>
                                  </div>
                                  
                                </div>
                                <div class="form-group row">
                                  <label class="col-3 col-form-label">Cargo</label>
                                  <div class="col-8">
                                      <select class="form-control"  required [(ngModel)]="cargo" name="cargo"
                                           >
                                      <option >Selecciones</option>
                                         <option required class="table-responsive"
                                         *ngFor="let item3 of cargos" > 
                                             <p>{{ item3.descripcion }} </p>
                                         </option>
                                     </select>
                                  </div>
                                  
                                </div>
                                <div class="form-group row">
                                  <label class="col-3 col-form-label">Fecha de ingreso</label>
                                  <div class="col-8">
                            
                                    <input class="form-control"
                                           type="date"
                                           placeholder="fecha"
                                           required [(ngModel)]="trabajador.fc_ingreso" name="apellnombreidop"

                                           >
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-3 col-form-label">Sueldo</label>
                                  <div class="col-8">
                            
                                    <input class="form-control"
                                           type="text"
                                           id="number"
                                           placeholder="sueldo"
                                           required [(ngModel)]="trabajador.sueldo" name="sueldo"
                                           >
                                  </div>
                                </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-2 col-form-label">&nbsp;</label>
                              <div class="input-group col-md-8">
                                <button type="submit" [disabled]="forma1.invalid" class="btn btn-outline-primary">
                                  Guardar
                                </button>
                              </div>
                            </div>
                          
                          </form>
                    </div>
                
                </div>
                </div>
        </div>
<!--vista trabajadores inicio-->

      <table class="table table-striped ">
          <thead>
              <tr>
                  <th>Rut</th>
                  <th>Nombres</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Cargo</th>
                  <th>Centro de Costos</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody  *ngFor="let item of trabajadoresFiltro">                                       



              <tr>
                  <th scope="row">{{item.rut}}-{{item.digito}}</th>
                  <td>{{item.nombre}}</td>
                  <td>{{item.apellidop}}</td>
                  <td>{{item.apellidom}}</td>
                  <td>{{item.cargo}}</td>
                  <td>{{item.CentroCosto}} </td>
                  <td>
                      <button type="button"
                      class="btn btn-danger float-right"
                      (click)="borrar(item.id,item.nombre,item.apellidop)"
                      >
                       <i class="far fa-trash-alt"></i>                  
                       </button>
                  </td>
                  <td>
                      <button type="button"
                      class="btn btn-primary float-right"
                      (click)="botonid(item.id,item.nombre,item.apellidop,item.apellidom,item.CentroCosto,item.rut,item.digito)"
                      data-toggle="modal" 
                      data-target="#modal_editar" 
                      data-whatever="@mdo"
                      >
                      <i class="fa fa-edit"></i>                
                       </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<!--modal de edicion-->

<div class="modal fade" id="modal_editar" tabindex="-1" role="dialog" aria-labelledby="modal_trabajador" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="modal_trabajador">Ingresar datos del trabajador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body ">
                <form (ngSubmit)="actizarTrabajador(forma)" #forma="ngForm">

                        <div>
                                <div class="form-group row">
                                        <label class="col-4 col-form-label">RUT</label>
                                        <div class="col-6">
                                  
                                          <input class="form-control"
                                                 type="text"
                                                 placeholder="RUT"
                                                 [(ngModel)]="actrabajador.rut"
                                                 name="rut"
                                                 required
                                               
                                                 >
                                        </div>
                                        <div class="col-2">
                                  
                                                <input class="form-control"
                                                       type="text"
                                                       placeholder="n"
                                                       [(ngModel)]="actrabajador.digito"
                                                       name="digito"
                                                       required
                                                       >
                                              </div>
                                      </div>
                          <div class="form-group row">
                            <label class="col-4 col-form-label">Nombre</label>
                            <div class="col-8">
                      
                              <input class="form-control"
                                     type="text"
                                     placeholder="Nombre"
                                     [(ngModel)]="actrabajador.nombre"
                                     name="nombre"
                                     required
                                     >
                            </div>
                          </div>
                      
                          <div class="form-group row">
                            <label class="col-4 col-form-label">Apellido Paterno</label>
                            <div class="col-8">
                      
                              <input class="form-control"
                                     type="text"
                                     placeholder="ApellidoP"
                                     [(ngModel)]="actrabajador.apellidop"
                                     name="apellidop"
                                     required
                                     >
                            </div>
                          </div>
                          <div class="form-group row">
                                <label class="col-4 col-form-label">Apellido Materno</label>
                                <div class="col-8">
                          
                                  <input class="form-control"
                                         type="text"
                                         placeholder="ApellidoM"
                                         [(ngModel)]="actrabajador.apellidom"
                                         name="apellidom"
                                         required
                                         >
                                </div>
                              </div>
                        </div>
                      
                        <div class="form-group row">
                          <label class="col-4 col-form-label">Centro de coste</label>
                          <div class="col-md-8">
                            <select class="form-control"  required [(ngModel)]="actrabajador.cdc" name="cdc"
                            >
                          <option required  class="table-responsive"
                          *ngFor="let item of centrocostos" >
                              <p>{{ item.CentroCosto }} {{ item.descripcion }} </p>
                          </option>
                      </select>
                      
                          </div>
                        </div>                                         
                         <div class="form-group row">
                          <label class="col-2 col-form-label">&nbsp;</label>
                          <div class="input-group col-md-8">      
                          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cerrar</button>&nbsp;
                            <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-primary">
                                <i class="fa fa-plus"></i>
                              Guardar
                            </button>
                          </div>
                        </div>
                      
                      </form>

        </div>
    
    </div>
    </div>
</div>