<div class="card">
  <div class="card-header">
      <h3 class="h4">Organigrama Empresarial</h3>
  </div>
  <div class="card-body text-center">
    <img src="../assets/img/organigrama.png" alt="Organigrama Empresarial">
  </div>
</div>