
<div class="card">
    <div class="card-header">
        <h3 class="h4">Generar carta de amonestacion</h3>
    </div>
    <div class="card-body" text-center>

            <form>

                    <div>
                            <div class="form-group row">
                                    <label class="col-2 col-form-label">RUT</label>
                                    <div class="col-6">
                              
                                      <input class="form-control"
                                             type="text"
                                             name="rut"
                                             [(ngModel)]="carta.rut"
                                             placeholder="RUT">
                                    </div>

                                    <div class="col-2">
                              
                                            <input class="form-control"
                                                   type="text"
                                                   name="dijito"
                                                   [(ngModel)]="carta.dijito"
                                                   placeholder="RUT">
                                          </div>
                                    
                                  </div>

                      <div class="form-group row">
                        <label class="col-2 col-form-label">Nombre</label>
                        <div class="col-8">
                          <input class="form-control"
                                 type="text"
                                 name="nombre"
                                 [(ngModel)]="carta.nombre"
                                 placeholder="Nombre">
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-2 col-form-label">Apellido</label>
                        <div class="col-8">
                  
                          <input class="form-control"
                                name="apellido"
                                [(ngModel)]="carta.apellido"
                                 type="text"
                                 placeholder="Apellido">
                        </div>
                      </div>
                      <div class="form-group row">
                            <label class="col-2 col-form-label">Cargo</label>
                            <div class="col-8">
                      
                              <input class="form-control"
                                    name="cargo"
                                    [(ngModel)]="carta.cargo"
                                     type="text"
                                     placeholder="cargo">
                            </div>
                          </div>
                      <div class="form-group row">
                            <label class="col-2 col-form-label">Descrición</label>
                            <div class="col-8">
                      
                                    <textarea name="descripcion" [(ngModel)]="carta.descripcion" rows="4" cols="50">
                                        </textarea>
                            </div>
                          </div>
                      <div class="form-group row">
                            <label class="col-3 col-form-label">Tipo amoneztación</label>
                            <div class="col-3">
                                    <select name="causales" [(ngModel)]="carta.causales">
                                            <option >opciones</option>
                                            <option  *ngFor="let item of causales" >{{item.descripcion}}</option>
                                     </select>
                            </div>
                           
                          </div>

                    </div>
                    
                    <div class="form-group row">
                      <label class="col-2 col-form-label">&nbsp;</label>
                      <div class="input-group col-md-6">
                      </div>
                      <div class="input-group col-md-2">
                            <button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#exampleModalLong">Vista Previa</button>
                          </div>
                    </div>
                  
                  </form>
            
        </div>
    <div class="card-footer">
            <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Vista Previa "Amonestación"</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="contentToConvert" >
                            <label class="float-right">
                                <b>[DIRECCION]</b>, <b>{{carta.fecha}}</b>.
                            </label>
                            <br>
                            <label>
                                Señor/a <b>{{carta.nombre||"______"}}  {{carta.apellido||"______"}}</b>
                            </label>
                            <br>
                            <label>
                                <b>{{carta.rut||"______"}}</b>-<b>{{carta.dijito||"______"}}</b>
                            </label>
                            <br>
                            <label>
                                Presente.
                            </label>
                            <br>
                            <label>
                                    <b>{{carta.descripcion}}</b>
                            </label>
                            <br>
                            <label>
                                    De nuestra consideración:
                            </label>
                            <br>
                            <label>
                                    Por medio de la presente y dando cumplimiento a la legislación vigente, la venimos en amonestar, por escrito, por el siguiente hecho en el desempeño en sus labores como <b>{{carta.cargo||"______"}}</b>.
                            </label>
                            <label>
                                    Hemos podido constatar que Ud., con fecha <b>{{carta.fecha}}</b>, no ha respetado el <b>{{carta.causales || "______"}}</b>, vigente en la <b>{{carta.causales || "______"}}</b>, como lo exige el mencionado Protocolo. Ello tiene como consecuencia deficiencias en el registro de las atenciones realizadas a las personas y, por lo tanto, en su seguridad.
                            </label>
                            <label>
                                    Conductas de este tipo no serán admitidas nuevamente, pues ocasionan una afectación respecto de la imagen y espíritu de <b>[EMPRESA]</b>, así como de la fama y respeto de que goza.
                                    Esperando que rectifique su actuar y que hechos de esta naturaleza no vuelvan a ocurrir,
                                    Sin otro particular, saluda atentamente a Ud.
                            </label>
                            <br>
                            <label>
                                    pp. ( )
                            </label>
                            <br>
                            <label>     
                                    c.c. Carpeta Personal.
                            </label> 
                            <br>
                            <label>
                                    c.c. Inspección del Trabajo.
                            </label> 
                        </div>
                        <div class="modal-footer">
                        <button type="button" (click)="captureScreen()" class="btn btn-primary" data-dismiss="modal">Descargar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" (click)="guardar()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>