<div class="card">
  <div class="card-header">
      <h3 class="h4">Listado de Atrasos</h3>
      
      <select #producto (change)="filtro(producto.value)">
        <option  >
            todos</option>   
        <option #producto  *ngFor="let product of centrocostos" >
          {{product.descripcion}}</option>      
     </select>
  </div>
  <div class="card-body text-center">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>RUT</th>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Cargo</th>
                  <th>Total de dias atrasados</th>
 
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of trabajadoresFiltro">
                  <th scope="row">{{item.rut}}-{{item.digito}}</th>
                  <td>{{item.nombre}}</td>
                  <td>{{item.apellidop}}</td>
                  <td>{{item.apellidom}}</td>
                  <td>{{item.cargo}}</td>
                  <td>{{item.retrasos}}</td>
               
              </tr>
          </tbody>
  </table>
</div>
</div>