<div class="card col-8" >
        <div class="card-header">
            <h3 class="h4">Control de Licencia</h3>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal_licencia" data-whatever="@mdo"><i class="fa fa-plus"></i> Ingresar Licencia Medica</button>

        </div>

        <div class="card-body table-center table-responsive " >
            
                
                <table class="table  table-striped table-center" >
                        <thead>
                            <tr>
                                <th>Id trabajador</th>
                                <th>id Excepción</th>
                                <th>Fecha</th>
                                <th>Observación</th>
               
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of excepciones">
                            <tr>
                                <th scope="row">{{item.idTrabajador}}</th>
                                <td>{{item.idTipoExcepcion}}</td>
                                <td>{{item.fc_Excepcion}}</td>
                                <td>{{item.tx_Observacion}}</td>
                              
                            </tr>
                        </tbody>
                    </table>
               
            
                <div class="modal fade" id="modal_licencia" tabindex="-1" role="dialog" aria-labelledby="modal_licencia" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal_licencia">Ingresar datos de Licencia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body table-responsive">
                          
                            <form (ngSubmit)="guardar(forma)" #forma="ngForm">

                                <div>
                                  <div class="form-group row" class="example-form">
                                      <label class="col-4 col-form-label">ID Trabajador</label>
                                      <div class="col-12">

                                     <input type="text" list="productList" name="product" 
                                     required
                                     [(ngModel)]="formulario.id" name="id" 
                                      placeholder="ID Trabajador" />
                                     <datalist id="productList">
                                         <select>
                                            <option *ngFor="let product of trabajador" [value]="product.id">{{product.nombre}} - {{product.apellidop}} - {{product.apellidom}}</option>
                                         </select>
                                     </datalist>

                                      </div>
                                    </div>
                                    <br>
                                  <div class="form-group row">
                                    <label class="col-4 col-form-label">Excepciones</label>
                                    <div class="col-8">
                                        <select class="form-control" 
                                         required 
                                         [(ngModel)]="formulario.excepcion"
                                         name="excepciones" >
                                         <option>optiones</option>
                                            <option class="table-responsive"
                                            *ngFor="let item of listaE" 
                                            
                                            >
                                                <p>{{ item.idTipoExcepcion }} {{ item.Descripcion }} </p>
                                            </option>
                                        </select>
                                    </div>
                                  </div>
                              
                                </div>
                                <div class="form-group row">
                                        <label class="col-4 col-form-label">Fecha Excepción</label>
                                        <div class="col-8">
                                  
                                          <input class="form-control"
                                                 type="datetime-local"
                                                 [(ngModel)]="formulario.fecha"
                                                 name="fecha"
                                                 required
                                                 placeholder="">
                                        </div>
                                      </div>
                                <div class="form-group row">
                                  <label class="col-4 col-form-label">Observaciones</label>
                                  <div class="col-md-8">
                              
                                    <textarea  class="form-control"
                                            [(ngModel)]="formulario.observacion"
                                            name="observaciones"
                                           type="text"
                                           required
                                           placeholder="Observaciones"></textarea>
                                  </div>
                                </div>
                              
                              
                              
                                <div class="form-group row" text-center>
                                  <label class="col-4 col-form-label">&nbsp;</label>
                                  <div class="input-group col-md-12" text-right>
                                    <button [disabled]="forma.invalid" type="submit" class="btn btn-outline-primary">
                                      Guardar
                                    </button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            <i class="fa fa-times-circle"></i> 
                                            Cerrar
                                        </button>
                                  </div>
    
                                </div>
                              
                              </form>
                              
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
