<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Solicitud de permisos y Mensajeria Interna</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Dias Admin. y Gestion de Mensajeria</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-button (click)="openModal()">Enviar Solicitud</ion-button>
            </ion-item>
            <ion-item>
                <ion-button (click)="openModal()">Enviar Consulta</ion-button>
            </ion-item>
            <ion-item>
                <ion-button (click)="openModal2()">Bandeja de Entrada</ion-button>
            </ion-item>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col>
                            <ion-row>
                                <ion-col size-sm="2">Nombre</ion-col>
                                <ion-col size-sm="2">Trabajador 1</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-sm="2">Cargo</ion-col>
                                <ion-col size-sm="2">Cargo 1</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-sm="2">Dias Correspondidos</ion-col>
                                <ion-col size-sm="2">10</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-sm="2">Dias Usados</ion-col>
                                <ion-col size-sm="2">3</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size-sm="2">Dias Disponibles</ion-col>
                                <ion-col size-sm="2">7</ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>