<div class="card">
    <div class="card-header">
        <h3 class="h4">Nombre de la empresa</h3>
    </div>
    <div class="card-body">
        <p>Sesion Iniciada:</p>
        <div>
            Bienvenido
            <!--
                          <ul>
                <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
            </ul>  
            -->

            <img src="../assets/img/logo.png" alt="Logo Generico">
        </div>
    </div>
</div>