<ion-header>
    <ion-toolbar>
        <ion-title>Iniciar Sesion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
            
        <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                    <h4>Bienvenido</h4>
                </div>
                <div padding>
                    <ion-item>
                        <ion-input type="text" placeholder="Nombre de Usuario" #user></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" placeholder="Contraseña" #pass></ion-input>
                    </ion-item>
                </div>

                <div padding>
                    <ion-button (click)="login(user.value,pass.value)" size="large" expand="block">Ingresar</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>