<div class="card">
  <div class="card-header">
      <h3 class="h4">Control De Incentivos</h3>
      
      <select #producto (change)="c(producto.value)">
        <option  >
            todos</option>   
        <option #producto  *ngFor="let product of centrocostos" >
          {{product.descripcion}}</option>      
     </select>
  </div>
  <div class="card-body">

    
    <button type="button" style="margin-left: 10px" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal_crear" data-whatever="@fat"><i class="fa fa-plus"></i> Crear Incentivos</button>
   
    <div class="modal fade" id="modal_crear" tabindex="-1" role="dialog" aria-labelledby="modal_crear" aria-hidden="true">
        <form (submit)="guardar()" #forma="ngForm"> 
      <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Crear Incentivos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                      <div class="form-group">
                        <label for="message-text" class="col-form-label">Descripcion del incentivo:</label>
                        <input type="text" 
                        name="descripcion"
                        required
                        minlength="10"
                        [(ngModel)]="descripcion"
                        class="form-control" 
                        id="text-incentivo">
                      </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cerrar</button>
                  <button type="submit"
                  [disabled]="forma.invalid"
                   class="btn btn-primary">
                   <i class="fa fa-plus"></i> Guardar
                  </button>
                  </div>
              </div>
            </div>
          </form>
        </div>

        <button type="button" style="margin-left: 10px" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal_asignar" data-whatever="@mdo"><i class="fa fa-plus"></i> Asignar Incentivos</button>

        <div class="modal fade" id="modal_asignar" tabindex="-1" role="dialog" aria-labelledby="modal_asignar" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <form (submit)="asignar()" #forma="ngForm">

                    <div class="modal-header">
                      <h5 class="modal-title" id="modal_asignar">Ingrese los siguientes datos</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Nombre del trabajador:</label>
                          <input type="text" class="form-control" id="name-trabajador">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">RUT del trabajador:</label>
                          <div class="form-group row">
                              <div class="input-group col-md-8">
                                  <input type="text"
                                   class="form-control" 
                                   required
                                   name="rut"
                                   [(ngModel)]="rut"
                                   id="rut-trabajador">
                              </div>
                              <div class="input-group col-md-1">
                                  -
                              </div>
                              <input type="text"
                              required
                              name="digito"
                              [(ngModel)]="digito"
                               class="form-control col-md-1"
                                id="rut-trabajador">
                          </div>
                          
                          
                        </div>
                        <label for="message-text" class="col-form-label">Seleccione incentivo:</label>
                        <select   required
                        name="incentivoid"
                        [(ngModel)]="incentivoid">
                            <option>Opciones</option>    
                            <option *ngFor="let incentivos of incentivo">
                             {{incentivos.descripcion}}
                            </option>      
                         </select>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancelar</button>
                      <button type="submit" 
                      [disabled]="forma.invalid"
                      class="btn btn-primary"                      
                      >
                        <i class="fa fa-plus"></i> Guardar </button>
                     
                    </div>

                  </form>

                  </div>
                </div>
        </div>
        <div>
               <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal_pregunta" data-whatever="@lis"><i class="fa fa-question"></i> Listado de Incentivos</button>
   
        </div>
        <div class="modal fade" id="modal_pregunta" tabindex="-1" role="dialog" aria-labelledby="modal_pregunta" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Listado de incentivos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Numero ID</th>
                                        <th>Descripcion</th>
                                   </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let incentivos of incentivo">
                                        <th scope="row">{{incentivos.incentivo}}</th>
                                        <td>{{incentivos.descripcion}}</td>
                                    </tr>

                                </tbody>
                        </table>
                </div>
            </div>
            </div>
        </div>
        <br>
        <br>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Cargo</th>
                <th>Incentivos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of trabajadoresFiltro">
                <th scope="row">{{item.rut}}-{{item.digito}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.apellidop}}</td>
                <td>{{item.apellidom}}</td>
                <td>{{item.cargo}}</td>
                <td>{{item.incentivos}}</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>