<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Aprobaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Solicitudes y Consultas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                <ion-item>
                    <ion-button (click)="openModal2()">Bandeja de Solicitudes</ion-button>
                </ion-item>
                <ion-item>
                    <ion-button (click)="openModal2()">Bandeja de Consultas</ion-button>
                </ion-item>
                <ion-item>
                    <ion-button (click)="openModal()">Enviar </ion-button>
                </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
