<div class="card">
    <div class="card-header">
        <h3 class="h4">Cargos</h3>
    </div>
    <div class="card-body">
            <div class="form d-flex align-items-center float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_cargos" data-whatever="@modal_cargos"><i class="fa fa-plus"></i> Agregar cargo</button>
                    <div class="modal fade" id="modal_cargos" tabindex="-1" role="dialog" aria-labelledby="modal_cargos" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="modal_cargos">Agregar cargo</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Nombre de cargo:</label>
                                      <input type="text" class="form-control" id="name-cargo">
                                    </div>
                                    <div class="form-group">
                                      <label for="message-text" class="col-form-label">Descripcion:</label>
                                      <textarea class="form-control" id="text-cargo"></textarea>
                                    </div>
                                    <div class="form-group">
                                            <label for="message-text" class="col-form-label">Horario:</label>
                                            <input type="text" id="horario-cargo" value="10:30 - 18:30" data-format="hh:mm A">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cerrar</button>
                                  <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</button>
                                </div>
                              </div>
                            </div>
                    </div>
            </div>
            <br>
            <br>
        <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>ID Cargo</th>
                              <th>Nombre Cargo</th>
                              <th>Descripción de Cargo</th>
                              <th>Horario Cargo</th>
                            </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row">1</th>
                          <td>Cargo 1</td>
                          <td>Descripción 1</td>
                          <td>09:00 - 18:00</td>
                          </tr>
                          <tr>
                              <th scope="row">2</th>
                              <td>Cargo 2</td>
                                <td>Descripción 2</td>
                              <td>09:00 - 18:00</td>
                      </tr>
                          <tr>
                              <th scope="row">3</th>
                              <td>Cargo 3</td>
                              <td>Descripción 3</td>
                              <td>09:00 - 18:00</td>
                          </tr>
                      </tbody>
        </table>
    </div>
</div>