<ion-header>
  <ion-toolbar>
    <ion-title>Bandeja de Entrada</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-card-title>En esta seccion se veran los mensajes recibidos</ion-card-title>
          <ion-item>
              <ion-button (click)="dismiss()">Volver</ion-button>
          </ion-item>
        </ion-card-header>
    </ion-card>
</ion-content>
