<ion-header>
  <ion-toolbar>
    <ion-title>Asignar Incentivo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Rellene los campos:</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Numero del Trabajador:</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">RUT del Trabajador:</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Incentivo</ion-label>
                <ion-select multiple="true" cancelText="Nah" okText="Okay!">
                    <ion-select-option value="f">Vacaciones +</ion-select-option>
                    <ion-select-option value="m">Cupones extras</ion-select-option>
                    <ion-select-option value="m">Premio Sorpresa</ion-select-option>
                  </ion-select>
            </ion-item>
        </ion-card-content>
        <ion-item>
            <ion-button (click)="dismiss()">Cancelar</ion-button>
            <ion-button (click)="dismiss()">Asignar</ion-button>
        </ion-item>

      </ion-card>
</ion-content>