#x{
    width: 250;
    height: 250;
}
zxing-scanner{
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin: 1rem;
}

Add the css for .card

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}