<div class="card table-responsive" id="x" style="width: 400px;height: 250;">
    <div class="card-header">
        <h3 class="h4">Control Asistencia por QR</h3>
    </div>
  
    <div class="card-body text-center" >
   


        <div  *ngIf="availableDevices">
            <select (change)="onDeviceSelectChange($event.target.value)"> 
                <option value="" [selected]="!selectedDevice">No Device</option>
                <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
            </select>
          </div>
          
          <div class="text-center"   [hidden]="!hasCameras">
          
            <zxing-scanner class="text-center"  #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)" cssClass="small-video"></zxing-scanner>
          
            <h2 *ngIf="!this.selectedDevice">Seleccione una camara.</h2>
          
            <p>
                Resultado:
                <strong>{{ qrResultString }}</strong>
            </p> 
            
          </div>


    </div>
  </div>