<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>Base Web</h1>
                            </div>
                            <p>RelojControl</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="alert alert-info">
                        Username: Admin / rh<br /> Password: 123
                    </div>
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label for="username">Nombre de Usuario</label>
                                        <div class="col-12">
                                            <input type="text" formControlName="username" class="input-material"
                                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required
                                                data-msg="Por Favor Ingrese su Nombre de Usuario" />
                                        </div>
                                        <!--
 <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Nombre de Usuario Requerido</div>
                                        </div>
                                        -->
                                       
                                    </div>


                                </div>
                                <div class="form-group">

                                    <div class="form-group row">
                                        <label for="password" class="label-material">Contraseña</label>
                                        <div class="col-12">
                                            <input type="password" formControlName="password" class="input-material"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required
                                                data-msg="Por Favor Ingrese su Contraseña" />

                                        </div>
                                        <!--
                                                                           <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                            <div *ngIf="f.username.errors.required">Nombre de Usuario Requerido</div>
                                        </div>
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Contraseña Requerida</div>
                                        </div>         
                                        -->

                                    </div>


                                </div>
                                <div class="form-group">
                                    <button [disabled]="loading" class="btn btn-primary">Iniciar Sesión</button>
                                </div>
                                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                            </form>
                            <a href="#" class="forgot-pass">¿Olvido su Contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights text-center">
        <p>Diseñado por <a href="https://www.efby.cl" class="external">Efby.cl</a></p>
    </div>
</div>