<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Carta de Amonestación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Cartas de Amonestación</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label text-wrap>Ingrese los siguientes datos</ion-label>
            <ion-card-content>
                <ion-item>
                    <ion-label>Fecha</ion-label>
                    <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">RUT:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nombrea:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Apellidos:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Cuidad/Poblacion:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Norma inflijida:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Falta/Infraccion :</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Causal de Amonestación :</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nombre de la Empresa :</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-button (click)="openModalPrevia()">Vista Previa</ion-button>
                    <ion-button (click)="openModalPrevia()">Enviar</ion-button>
                </ion-item>
            </ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>